* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13pt;
  font-weight: bold;
  border-radius: 0px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

@keyframes blink_red {
  to {
    background-color: #e06c75;
    color: #000000;
  }
}

.warning,
.critical,
.urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

window#waybar {
  background: transparent;
  color: white;
  margin: 0;
  padding: 0;
}

window>box {
  margin: 0;
  border-radius: 0;
  background-color: rgba(30, 30, 30, .8);
}

#workspaces {
  padding-left: 0px;
  padding-right: 4px;
}

#workspaces button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 6px;
  padding-right: 6px;
}

#workspaces button.focused {
  background-color: rgb(181, 232, 224);
  color: rgb(26, 24, 38);
}

#workspaces button.urgent {
  color: rgb(26, 24, 38);
}

#workspaces button:hover {
  background-color: rgb(248, 189, 150);
  color: rgb(26, 24, 38);
}

tooltip {
  background: rgb(48, 45, 65);
}

tooltip label {
  color: rgb(217, 224, 238);
}

#custom-launcher {
  padding-left: 8px;
  padding-right: 6px;
  color: rgb(201, 203, 255);
}

#mode,
#clock,
#memory,
#temperature,
#cpu,
#mpd,
#idle_inhibitor,
#temperature,
#backlight,
#pulseaudio,
#network,
#battery,
#custom-powermenu,
#custom-cava-internal {
  padding-left: 5px;
  padding-right: 5px;
}

#memory {
  color: #e06c75;
}

#cpu {
  color: #e5c07b;
}

#clock {
  color: rgb(217, 224, 238);
}

#idle_inhibitor {
  color: rgb(221, 182, 242);
}

#temperature {
  color: rgb(150, 205, 251);
}

#backlight {
  color: rgb(248, 189, 150);
}

#pulseaudio {
  color: rgb(245, 224, 220);
}

#network {
  color: #98c379;
}

#network.disconnected {
  color: rgb(255, 255, 255);
}

#battery.charging,
#battery.full,
#battery.discharging {
  color: rgb(250, 227, 176);
}

#battery.critical:not(.charging) {
  color: #e06c75;
}

#custom-powermenu {
  color: #e06c75;
}

#tray {
  padding-right: 8px;
  padding-left: 10px;
}

#mpd.paused {
  color: #414868;
  font-style: italic;
}

#mpd.stopped {
  background: transparent;
}

#mpd {
  color: #c0caf5;
}

#custom-cava-internal {
  font-family: "JetBrains Nerd Font";
}

#workspaces button {
  border: none;
  border-radius: 0;
  border-bottom: solid 2px;
  padding: 5px;
  margin-right: 5px;
}

#workspaces button:hover {
  background-color: #d8dee9;
}

#workspaces button {
  color: #61afef;
}

#workspaces button.persistent {
  background-color: transparent;
  color: #979eab;
  border-bottom: 0px;
}

#workspaces button.active {
  color: #98c379;
}

#workspaces button.hover {
  color: #98c379;
  background-color: #ffffff;
  border-bottom: solid 2px;
}